
body {
background-color: rgba(75, 74, 71, 0.894);

}


.tituloContainer {
    width: 880px;
}


.btn {
width: 320px ;
font-size: 24px;
}

.logo {
    width: 120px

}

.enunciado {
    width: 75%;
    }

.ingresoDatos {
    
    font-size:30px;
    }

.containerIngresoDatos {
    padding: 25px;
    max-width: 700px;
    border: 2px solid #000;
}

.inputIngresoNota {
 width: 80px;

}